.button-set {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.button {
  height: 58px;
  padding: 0 90px;
  background: var(--secondary-color);
  color: var(--main-color);
  border: none;
  font-size: 36px;
  font-family: 'Roboto Condensed', sans-serif;
}

.button-set p {
  color: var(--emphasize-color);
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-style: italic;
}